// app global css in SCSS form
.popup-container
  width: 378px
  padding: 12px 24px

html,
body,
div
  -ms-overflow-style: none
  scrollbar-width: none
  ::-webkit-scrollbar
    display: none

.hide
  display: none !important
  visibility: hidden !important

.fill-parent
  width: 100%
  height: 100%

.full-width
  width: 100%

.full-height
  height: 100%

.stepper-expand
  margin: -24px

.q-body--prevent-scroll
  position: relative !important

.hover:hover
  background: rgba(#1976d2, 0.03)

.list-expand
  margin: 0 -24px
  padding: 0 24px

.header-items-margin-x-left
  margin-left: 6px

.header-items-margin-x-right
  margin-right: 6px

.header-item-bg
  background: $red-1
  border-radius: 32px

.header-inner-padding
  padding: 16px 12px 12px 12px

.header-text
  line-height: 24px
  height: 24px

.header-dropdown
  border: 1px solid $red-2
  .q-btn-dropdown--current
    border-right: 0px solid $red-2
  .q-btn-dropdown__arrow
    font-size: 1em !important
    margin-right: 6px

.header-selected-lang
  background: $red-1
  transition: 1s
